*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Oswald', sans-serif;
}
#iniciar{
    color: white;
}
#crear{
    color: white;
}
#cerrar{
    color: white;
}
#bp{
    color: white;
}
#offcanvasNavbar{
    background: #76b5df;
}
#hu{
    margin: 10px;
}
#btnAdd{
    margin: 10px;
}
#contQR{
    position: relative;
    padding: 5px;
    width: auto;
    height: auto;
    border-radius: 5px;
}
#BtnCAG{
    margin: 5px;
}
#BtnPhone{
    margin: 5px;
}

img{
    height: 30px;
}