*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Oswald', sans-serif;
}
#iniciar{
    color: white;
}
#crear{
    color: white;
}
#cerrar{
    color: white;
}
#bp{
    color: white;
}
#offcanvasNavbar{
    background: #629dc4;
}
#hu{
    margin: 10px;
}
#btnAdd{
    margin: 10px;
}

img{
    height: 30px;
}